.home{

    min-height:100vh;

    background:#0b0b12;

    background-image:
    radial-gradient(circle at top left,#2883d9 0%,transparent 35%),
    radial-gradient(circle at bottom right,#06b6d4 0%,transparent 35%);

    padding:40px;

    color:white;

}

@media(max-width:768px){

.home{

    padding:14px;

    overflow-x:hidden;

}

}

@media(max-width:480px){

.home{

    padding:10px;

}

}